<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" 
         id="kfc-integration-module-betting" 
         version="3.1">
    
    <display-name>kfc-integration-module-betting</display-name>
         
   <!-- ******************************************************************* -->
   <!-- * General Config                                                  * -->    
   <!-- ******************************************************************* -->
   
   <display-name>kfc-integration-module-betting</display-name>
   
   <description>betting Integration Module</description>
    
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>


    <!-- ******************************************************************* -->
    <!-- * Servlets                                                        * -->
    <!-- ******************************************************************* -->

    <servlet>
		<servlet-name>myservlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/betting/*</url-pattern>
    </servlet-mapping>
</web-app>